.suggestions-container{
    list-style-type: none;
    padding: 0;
    margin: 0;

    background-color: #141414;;
    max-height: 400px;
    overflow-y: auto;
}

.suggestions-container a {
    text-decoration: none;
    color: #FFF;
}

.search-result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.search-result a{
    width: 100%;
}