.search-bar-container {
    display: flex;

    padding: 0.5rem;

    background-color: #141414;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.search-bar-container input {

    background-color: transparent;

    width: 100%;
    height: 2rem;

    border: none;
    outline: none;
    color: #FFF;

    font-size: 1rem;
}

.search-btn {
    background-color: #FFF;

    width: 2rem;
    height: 2rem;

    border: none;
    border-radius: 50px;
    outline: none;

    cursor: pointer;
}