.suggestion-container {
    display: flex;
    align-items: center;
}

.profile-info {
    width: 80%;
    padding: 0.5rem;
}

.profile-info h3, p {
    margin: 0;
}

.profile-pic-container {
    width: 10%;
    padding: 0.5rem;
    text-align: center;
}

.profile-pic-container img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.fav-btn {
    background-color: transparent;
    color: #a5a457;

    width: 5%;
    height: auto;

    border: none;
    border-radius: 50px;
    outline: none;

    cursor: pointer;
}

.fav-btn:hover {
    color: #FFF;
}